/* Reset de estilos para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos para o cabeçalho */
.header-page {
    background-color: #556b2f;
    color: #fff;
    padding: 20px;
}
.login-link,
.signup-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a,
.signup-link a {
    color: #556b2f;
    text-decoration: none;
}

.login-link a:hover,
.signup-link a:hover {
    text-decoration: underline;
}
.container1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.header-title {
    font-size: 24px;
}

.header-span {
    color: #90ee90;
}

.header-menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.header-menu ul li {
    margin-left: 20px;
}

.header-menu ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para a seção hero */
.hero {
    background-image: url("../img/pivo-irrigacao.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background-color: #90ee90;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #7cfc00;
}

/* Estilos para a seção de contato */
.contato {
    background-color: #f9f9f9;
    padding: 40px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button[type="submit"] {
    display: inline-block;
    background-color: #90ee90;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #7cfc00;
}

/* Estilos para a seção de recursos */
.section-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.card-item {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    /* Adicionando estilos para o grid */
    width: calc(50% - 20px);
    /* Definindo a largura dos elementos */
    display: inline-block;
    vertical-align: top;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-item img {
    max-width: 100%;
    height: auto;
}

.card-item p {
    margin-top: 10px;
}

/* Estilos para o rodapé */
.footer {
    background-color: #556b2f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 0;
}

/* Media queries para responsividade */

/* Dispositivos com largura de tela de até 600px */
@media (max-width: 600px) {
    .header-title {
        font-size: 20px;
    }

    .hero-title {
        font-size: 28px;
    }

    .hero-text {
        font-size: 16px;
    }

    .section-title {
        font-size: 20px;
    }

    .card-title {
        font-size: 18px;
    }

    .footer p {
        font-size: 14px;
    }
}

/* Dispositivos com largura de tela de 601px a 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
    .header-title {
        font-size: 22px;
    }

    .hero-title {
        font-size: 32px;
    }

    .hero-text {
        font-size: 16px;
    }

    .section-title {
        font-size: 22px;
    }

    .card-title {
        font-size: 20px;
    }

    .footer p {
        font-size: 14px;
    }
}

/* Dispositivos com largura de tela acima de 1024px */
@media (min-width: 1025px) {
    .header-title {
        font-size: 24px;
    }

    .hero-title {
        font-size: 36px;
    }

    .hero-text {
        font-size: 18px;
    }

    .section-title {
        font-size: 24px;
    }

    .card-title {
        font-size: 20px;
    }

    .footer p {
        font-size:16px;
    }
}
